<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/style.css" />
        <script src="../static/client.js"></script>
        <link
            href="https://fonts.googleapis.com/css?family=Blinker&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div>
            <div class="center">
                <div class="title">Fruit Image Classifer</div>
                <h3>
                    Try using images of Bananas, Pears or Grapes etc.
                </h3>
                <p class="modelDetails">
                    Model currently has a ~82% success rate identifying the
                    correct fruit using current training data. Current dataset
                    are ~200 images per class taken from Google Images.
                </p>

                <p class="modelDetails">
                    Current classes: Apple, Apricot, Avocado, Banana,
                    Blackberry, Blueberry, Cantaloupe, Cherry, Cloudberry,
                    Coconut, Cucumber, Date, Dragonfruit, Durian, Fig, Grape,
                    Grapefruit, Honeyberry, Honeydew, Kiwifruit, Kumquat, Lemon,
                    Lime, Mango, Orange, Papaya, Passionfruit, Peach, Pear,
                    Plum, Pineapple, Pomegranante, Raspberry, Strawberry and
                    Watermelon
                </p>
                <p class="notableIssues">
                    <b>Notable issues with the current model</b>
                </p>
                <p>
                    - Certain fruits that are very close in appearence (i.e
                    Kumquat and Orange)
                </p>
                <p>
                    - Fruits that come in different shades of color (i.e Green
                    Apples and Red Apples)
                </p>
                <p>
                    - Differenciating fruits that have been cut open versus pre
                    harvested state (i.e unopened Honeydew and Cantaloupe versus
                    when they are cut open)
                </p>

                <p>
                    <a
                        href="https://github.com/tdar31/Fruit-MachineLearning-Image-Classifer"
                        >Github Repo</a
                    >
                </p>
                <div class="content">
                    <div class="no-display">
                        <input
                            id="file-input"
                            class="no-display"
                            type="file"
                            name="file"
                            accept="image/*"
                            onchange="showPicked(this)"
                        />
                    </div>
                    <button
                        class="choose-file-button"
                        type="button"
                        onclick="showPicker()"
                    >
                        Select Local Image
                    </button>
                    <div class="upload-label">
                        <label id="upload-label">No file chosen</label>
                    </div>
                    <div>
                        <img
                            id="image-picked"
                            class="no-display"
                            alt="Chosen Image"
                            height="200"
                        />
                    </div>
                    <div class="analyze">
                        <button
                            id="analyze-button"
                            class="analyze-button"
                            type="button"
                            onclick="analyze()"
                        >
                            Analyze
                        </button>
                    </div>
                    <div class="result-label">
                        <label id="result-label"></label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
